@import '../variables.scss';


.card-project {
    color: $invisible;
    height: 400px;
    transition: 0.3s;

    &:hover {
        filter: grayscale(80%);
        color: $light;
        scale: 1.1;
    }
}

.card-project a h3 {
    color: $light;
    transition: 0.3s;
}

.card-project a p {
    color: $light;
    transition: 0.3s;
}

.card {
    width: 400px;
}

.card-title {
    color: $invisible;
}

.card-button {
    margin-top: 40%;
}