@import '../variables.scss';

body {
    background-image: url("../../images/misty-mountains.jpg");
    background-size: cover;
}

.form-new-project {
    color: $light;
    width: 30%;
    margin-right: 15%;
    margin-top: 6%;
}

@media (max-width: 1000px) {
    body {
        background-image: none;
    }

    .form-new-project {
        color: $light;
        width: 80%;
        margin-right: 0%;
        margin-top: 6%;
    }
}