<nav class="navbar navbar-expand-lg navbar-dark bg-dark color-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="{{ asset('build/images/V2_blanc.png') }}" alt="logo_navbar" width="75" height="75" class="d-inline-block align-text-top change-color">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<h2>
                <ul class="navbar-nav">
                    <span class="navbar-text">
                        VALENTIN LAY</br>
                        <strong>Developpeur web / web mobile</strong>
                    </span>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ACCUEIL ADMIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MES PROJETS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MESSAGES</a>
                    </li>
			    </ul>
		    </h2>
	    </div>
    </div>
</nav>
