{% block stylesheets %}
	{{ encore_entry_link_tags('about_me') }}
{% endblock %}

<div class="container">
    <h2><strong>À propos de moi</strong></h2>
    <div class="row mt-5">
        <div class="col-3">
            <img class="profile-picture" src="{{ asset('build/images/Photo_Val.jpg') }}" alt="photo-de-moi"/>
        </div>
        <div class="col-9">
            <p>
                Diplômé d'un Cap boulangerie et d'un cap pâtissier, j'ai un parcours professionnel riche.
                J'ai également travaillé entant que jardinier-paysagiste et cuisinier aux 3 Brasseurs. Mes expériences font de moi
                quelqu’un de polyvalent et ambitieux. Je m'adapte vite et prends plaisir à avoir des responsabilités.
                Je poursuis mon parcours dans l'informatique entant qu'étudiant développeur web à la Wild Code School dans
                l'optique d’écrire une nouvelle page prometteuse de mon avenir.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
        <h3><strong>Profile</strong></h3>
        <p>fjkhfzfglshsdkfzhkljjhkjh</p>
        </div>
        <div class="col-6">
        <h3><strong>Compétence</strong></h3>
        <p>jgDSSIVKHSJDjkhdkvhjdnfjke</p>
        </div>
        <div class="d-flex justify-content-center my-5">
        <button class="create-button">contactez moi</button>
        </div>
    </div>
</div>
