{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}
<section class="home" id="home">
	<div class="row">
		<div class="d-sm-none">
			<img class="idea-in-water" src="{{ asset('build/images/idea-in-water.jpg') }}" alt="image-intro"/>
		</div>
		<div class="col-12 col-sm-6 intro">
			<div class="title">
				<h1 class="d-flex justify-content-center">
					<strong>BONJOUR</strong>
				</h1>
				<span class="d-flex justify-content-center">et bienvenue !</span>
			</div>
			<div class="description">
				<span class="d-flex justify-content-center">Je m'appelle</span>
				<span class="d-flex justify-content-center strong-font">
					<strong>Valentin Lay</strong>
				</span>
				<span class="d-flex justify-content-center mt-5">Je suis un</span>
				<span class="d-flex justify-content-center strong-font">
					<strong>développeur web et web mobile</strong>
				</span>
				<span class="d-flex justify-content-center">passionné et sensible</span>
				<span class="d-flex justify-content-center strong-font">
					<strong>au design et à l'intégration</strong>
				</span>
			</div>
		</div>
		<div class="col-6 image-intro d-none d-sm-block">
			<img class="idea-in-water" src="{{ asset('build/images/idea-in-water.jpg') }}" alt="image-intro"/>
		</div>
		<div class="footer-home">
			{% include "include/_footer-home.html.twig" %}
		</div>
	</div>
</section>
