@import 'variables.scss';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap';
@import "~bootstrap/scss/bootstrap";

html {
    scroll-behavior: smooth;
}

body {
    background-color: $light;
    color: $dark;
}

p {
    font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
}

ul {
    list-style: none;
}

.create-button {
    padding: $space-2;
    background-color: $primary;
    color: $light;
    font-weight: bold;
    border-radius: $space/2;
    width: $space-2 * 25;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        background-color: lighten($secondary, 10%);
        color: $light;
    }
}