<form method="post" action="{{ path('admin_image_delete', {'id': image.id}) }}" onsubmit="return confirm('Voulez-vous vraimment supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
    <button class="btn">{% include "include/logo/_cross_red.html.twig" %}</button>
</form>
