<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Message</title>
</head>
<body>
    <h1>Message de {{ message.lastname }} {{ message.firstname }}</h1>
    <h2>{{ message.email }}</h2>
    <p>{{ message.message }}</p>
</body>
</html>