@import '../variables.scss';

.intro {
    position: relative;
    margin-top: 2%;
    font-size: 1.5rem;
    z-index: -1;
}

.description {
    margin-top: 5%;
}

.strong-font {
    font-family: $font-title;
}

h1 {
    font-size: 200%;
}

.idea-in-water {
    width: 100%;
}

.footer-home {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    padding: 0px;
    left: 0px;
}

@media (max-width: 1000px) {
    .intro {
        font-size: 1rem;
    }
    
    .footer-home {
        position: static;
        bottom: 0px;
        padding: 0px;
        left: 0px;
    }
}