@import '../variables.scss';

.project {
    position: relative;
    z-index: 2;
    margin-top: 8%;
    background-color: $secondary;
}

.project h2 {
    color: $light;
}

.card-project {
    color: $invisible;
    transition: 0.3s;

    &:hover {
        filter: grayscale(80%);
        color: $light;
        scale: 1.1;
    }
}

.card-project h3 {
    color: $light;
    transition: 0.3s;
}

.card-button {
    margin-top: 50%;
}

.footer-project {
    background-color: $light;
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}