@import '../variables.scss';

.header-project {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    padding: 0px;
    left: 0px;
}

.project {
    background-color: $secondary;
}

.project h2 {
    color: $light;
}

.project-body {
    padding-top: $space-5*2;
}

.card-project {
    color: $invisible;
    transition: 0.3s;

    &:hover {
        filter: grayscale(80%);
        color: $light;
        scale: 1.1;
    }
}

.card-project h3 {
    color: $light;
    transition: 0.3s;
}

.card-button {
    margin-top: 50%;
}

.footer-project {
    background-color: $light;
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

@media (max-width: 1000px) {
    
    .header-project {
        position: static;
        bottom: 0px;
        padding: 0px;
        left: 0px;
    }

    .project-body {
        padding-top: 0px;
    }
}


@media (min-width: 2000px) {
    
    .header-project {
        bottom: 150px;
    }
}