@import '../variables.scss';

.presentation {
    margin-top: 3%;
}

.contributor-techno {
    height: 60%;
}

.description {
    width: 100%;
}

.carousel-item img {
    width: 900px;
    height: 600px;
    object-fit: cover;
}